
/*globales*/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}


/*header*/
.site-header.inicio {
background: url(../img/header.jpg);
height: 100vh; /*viewport height*/
min-height: 600px;
background-position: center;
background-size: cover;

}

/*barra*/
.barra {

    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;

}

/*navegacion*/
.navegacion a {
    color: white;
    text-decoration: none;
    margin-right: 20px;

}

/*pseudo selector*/
.navegacion a:last-of-type{
    margin-right: 0;
}
/*efecto para cambiar de color si pasa el cursor por el texto*/
.navegacion a:hover{
    color: aquamarine;
}


